header {
  height: 110vh;
  padding-top: 4rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* ======= cta =======*/

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ======= socials =====*/

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials ::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ====== me ======*/

.me {
  /* background: var(--color-primary); */
  width: 45rem;
  height: 46rem;

  position: absolute;
  margin-left: 14rem;
  /* left:calc(50% - 11rem); */
  /* margin-top: 4rem; */
  /* border-radius: 12rem 12rem 0 0; */
  overflow: hidden;
  /* padding:3rem 1.5rem 1.5rem 1.5rem; */
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ============ media query for devices ====*/

/*  means if it goes beyond 1024px then apply all this peoperties in query...*/

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .me {
    width: 30rem;
    height: 26rem;
    /* margin-right: 0px; */
    margin-top: 5rem;
    left: calc(33% - 20rem);
    overflow: hidden;
  }
}

@media screen and (max-width: 750px) {
  header {
    height: 85vh;
  }
  .header__container {
    text-align: center;
    height: 100vh;
    position: relative;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
  .me {
    /* width: 32rem;
    height: 26rem; */
    /* margin-top: 5rem; */
    left: calc(2% - 19.1rem);
    overflow: hidden;
    width: 30.5rem;
  }
}

@media screen and (max-width: 380px) {
  header {
    height: 110vh;
  }
}

img.vert-move {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  margin-top: 1rem;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
